node_modules/
dist/
.env
uploads/
coverage/
*.log
tmp-*.json

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.pub-cache/
mobile/.pub/
mobile/ios/Pods/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
